<!DOCTYPE html>
<html>
<head>
   <title>Add Profile</title>
</head>
<body>
   <h3>Profile form</h3>
   <form action="/add" method="POST">
      <label>Name</label>
      <input type="text" name="name" placeholder="Enter Your Name">
      <label>Username</label>
      <input type="text" name= "username" placeholder="Enter Your Username...">
      <label>Password</label>
      <input type="password" name="password" placeholder="Enter Password..">
      <button type="submit">Sign Up</button>
   </form>
</body>
</html>
